.new-quote {
  margin-top: 15px;
}

.customer-name {
  padding-bottom: 15px;
}

.product-button-row {
  margin-bottom: 15px;
}

.product-button {
  width: 100%;
  border: 1px solid #ba7708;
  color: #ba7708;
  background-color: #FFF;
  padding-bottom: 6px;
  .row {
    .icon {
      font-size: 48px;
    }
    .text {
      font-weight: bold;
      font-size: 42px;
    }
  }
}

.product-button:hover {
  background-color: #ba7708;
  border: 1px solid #ba7708;
  color: #FFF;
  box-shadow: 0 0 0 2px rgb(186,119,8,.5);
}

.product-button.active {
  background-color: #ba7708;
  color: #FFF;
  border: 1px solid #ba7708;
  box-shadow: 0 0 0 2px rgb(186,119,8,.5);
}

#single-input,
#multi-input,
#matrix-input {
  display: none;
}

.add-button {
  margin-bottom: 15px;
}

#get-rates {
  margin-bottom: 15px;
}

.rate-header {
  font-style: italic;
}

.rate-result {
  font-size: 14pt;
}

.rate-header .col-3,
.rate-result .col-3 {
  text-align: right;
}