.event .focis-button {
  outline: none;
}

.value .fa-check {
  color: green;
}

.value.overdue {
  color: red;
}

.event .focis-button.active {
  background-color: #ba7708;
  color: #FFF;
  border: 1px solid #ba7708;
}

.event .event-update-remarks {
  width: 124px;
  padding: 3px;
}

.dropdown-menu.event {
  .focis-button {
    padding: 3px;
  }
  .bootstrap-datetimepicker-widget {
    margin-top: 7px;
  }
}

.datetimepicker {
  font-size: 11pt;
  width: 100%;
  padding: 0 1px;
  border: 1px solid rgb(204, 204, 204);
}

.input-container {
  width: 100%;
  display: table;
}

.input-row {
  display: table-cell;
}

.dropdown-text-input,
.dropdown-textarea-input,
.dropdown-filter,
.dropdown-input {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  width: 100%;
  line-height: 21.6px;
  border: 1px solid #decea0;
  border-radius: 5px;
  outline: none;
}

.input-unit {
  display: table-cell;
  width: auto;
  padding-left: 3px;
}

.dropdown-text-input {
  margin-bottom: 0;
}

.dropdown-textarea-input {
  margin-bottom: -5px;
}

.dropdown-textarea-input {
  border: 1px solid #decea0;
  border-radius: 5px;
  width: 100%;
  outline: none;
  height: 24px;
  resize: none;
  overflow-y: hidden;
  line-height: 21.6px;
}

.dropdown-textarea-confirm-button {
  margin-top: 3px;
  padding: 1px;
  width: 100%;
  height: 24px;
}

.field {
  margin: 3px 0;
}

.free-text-field {

}

.label {
  display: block;
  font-size: 10px;
  font-style: italic;
}

button.value {
  border: none;
  border-radius: 5px;
  padding: 0;
  width: 100%;
  min-height: 24px;
  outline: none;
  background-color: #eeeeee;
}

button.value:focus {
  box-shadow: 0 0 3pt 2pt rgba(239, 130, 1, 0.3);
  background-color: rgba(239, 130, 1, 0.3);
}

.value {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  //font-weight: bold;
  // min-width: 100px;
}

.value:hover {
  background-color: rgba(239, 130, 1, 0.3);
}

.field-row {
  margin-bottom: 7px;
}