<template name="customerListItem">
  <a class="card">
    <div class="card-inner">
      <div class="icon-container hidden-md-down">
        <div class="icon fa fa-fw fa-address-card"></div>
      </div>
      <div class="container card-content">
        <div class="row">
          <div class="col-6">
            <span class="customer-name">{{customer.name}}</span><br/>
            <span class="customer-active-quotes">{{customer.activeQuotes.length}} QUOTES</span>
            <br/>
            <span class="customer-active-jobs">{{customer.activeJobs.length}} JOBS</span>
          </div>
          <div class="col-6">
            <span class="customer-industry">Pharmaceuticals</span><br/>
            <span class="customer-credit">{{customer.credit.used}} {{customer.credit.currency}} credit</span><br/>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{creditPercent}}; height: 20px;" aria-valuenow="25"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</template>