<template name="Dropdown">
  <div class="field dropdown-field">
    <span class="label">{{label}}</span>
    <div class="dropdown dropdown-dropdown">
      <div class="value-container dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="value" path={{path}}></span>
      </div>
      <ul class="dropdown-menu filterless" aria-labelledby="dropdownMenuButton">
        {{#each option in options}}
          <li><a class="dropdown-item">{{option}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>