<template name="Dropdown">
  <div class="dropdown field-dropdown">
    <span class="value dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{value}}
    </span>
    <div class="dropdown-menu filterless">
      <a class="dropdown-item first" name="FOB">FOB</a>
      <a class="dropdown-item" name="FAS">FAS</a>
      <a class="dropdown-item" name="DAP">DAP</a>
      <a class="dropdown-item" name="DAF">DAF</a>
      <a class="dropdown-item" name="DDP">DDP</a>
    </div>
  </div>
</template>