<template name="Dropdown">
  <div class="field dropdown-field">
    <span class="label">{{label}}</span>
    <div class="dropdown dropdown-dropdown">
      <div class="value-container dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="value"></span>
      </div>
      <div class="dropdown-menu filterless">
        {{#each option in options}}
          <a class="dropdown-item">{{option}}</a>
        {{/each}}
      </div>
    </div>
  </div>
</template>