<template name="fileField">
  <div class="field file-field">
    <span class="label">{{label}}</span>
    <div class="dropdown file-dropdown">
      <div class="value-container dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="value"></span>
      </div>
      <div class="dropdown-menu">
        <div class="dropdown-item"><i class="fa fa-fw fa-file"></i> Open</div>
        <div class="dropdown-item"><i class="fa fa-fw fa-download"></i> Download</div>
        <div class="dropdown-item"><i class="fa fa-fw fa-envelope"></i> Email</div>
        <div class="dropdown-item"><i class="fa fa-fw fa-info-circle"></i> Info</div>
      </div>
    </div>
  </div>
</template>