<template name="mention">
  <textarea class="latest-updates-input" placeholder="Leave a note..."></textarea>
  <div id="mention-button" class="dropdown">
    <span class="dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user"></i> Mention
    </span>
    <div class="dropdown-menu">
      <input class="dropdown-filter" type="text" value="">
      <a href="#" class="dropdown-item" name="jburgess">
        <div class="profile-pic"><img src="/lib/jburgess%20profile%20pic.png"></div>
        jburgess | Bangalore</a>
      <a href="#" class="dropdown-item" name="akulkarni"><img class="profile-pic"
                                                              src="/lib/jburgess%20profile%20pic.png">
        akulkarni | Bangalore</a>
      <a href="#" class="dropdown-item" name="mkatt"><img class="profile-pic" src="/lib/malte.png"> mkatt |
        Thurrock</a>
      <a href="#" class="dropdown-item" name="psripada"><img class="profile-pic" src="/lib/phani.png">
        psripada | Thurrock</a>
      <a href="#" class="dropdown-item" name="pnkumar"><img class="profile-pic" src="/lib/praveen.png">
        pnkumar | Thurrock</a>
    </div>
  </div>
</template>