<template name="mention">
  <div class="mentionable" data-toggle="dropdown">
    <textarea class="latest-updates-input" placeholder="Leave a note..."></textarea>
    <ul class="dropdown-menu">
      {{#each result in results}}
        {{> userListItem}}
      {{/each}}
    </ul>
  </div>
  <div id="mention-button" class="dropdown">
    <span class="dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user"></i> Mention
    </span>
    <div class="dropdown-menu">

    </div>
  </div>
</template>
