<template name="stakeholder">
  <div class="field stakeholder-field">
    <span class="label">{{label}}</span>
    <div class="dropdown">
      <div class="value-container dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="value"></span>
      </div>
      <div class="dropdown-menu stakeholder-dropdown" aria-labelledby="dropdownMenuButton">
        <input class="dropdown-filter" type="text">
        <div class="stakeholder-results">
          {{#each result in results}}
            <a href="#" class="dropdown-item stakeholder row" name={{result.name}}>
              <div class="stakeholder-name-address">
                <pre>{{{formatText result.search getSearch}}}</pre>
              </div>
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>