<template name="AppBody">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Agility Freight</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/customers">Customers <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quotes">Quotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rates">Rates</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="profile-button btn btn-secondary" href="/user-profile/1">
            <img class="profile-pic" src="/lib/jburgess%20profile%20pic.png">
            <span class="user-name">James Burgess</span>
        </a>
      </form>
    </div>
  </nav>
  {{>Template.dynamic template=content}}


  <!--<div class="container">-->
  <!--<div class="focis-header row">-->
  <!--<img src="/lib/FOCISlogo.png" style="height: 30px; margin-left: 10px;">-->
  <!--</div>-->
  <!--<img class="user-details-img" src="/lib/UserDetails.png" align="right">-->
  <!--<div class="focis-menu">-->
  <!--<img class="menu-img" src="/lib/FOCISMenu.png">-->
  <!--<div class="menu-filler"></div>-->
  <!--</div>-->

  <!--&lt;!&ndash; Job Header &ndash;&gt;-->
  <!--<div class="job-header row">-->
  <!--<div class="col-12">-->
  <!--<div class="panel">-->
  <!--<div class="panel-header row">-->
  <!--<div class="panel-title col-1">-->
  <!--Job-->
  <!--</div>      -->
  <!--<div class="panel-header-content row col-11">-->
  <!--<div class="col-1">100231852</div>-->
  <!--<div class="col-4">Ocean Freight – FCL (NVOCC)</div>-->
  <!--<div class="col-4">INNSA – GBFXT</div>-->
  <!--<div class="col-3">Door to Door</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="panel-body">-->
  <!--<div class="row">-->
  <!--<div class="job-status col-3">-->
  <!--DEPARTED-->
  <!--</div>-->
  <!--<div class="origin col-3">-->
  <!--<div class="field">-->
  <!--<div class="label">Shipper</div>-->
  <!--<div class="dropdown">-->
  <!--<span class="value dropdown-button" id="dropdownMenuButton" data-toggle="dropdown"-->
  <!--aria-haspopup="true" aria-expanded="false">-->
  <!--Alstom Power Boilers Limited-->
  <!--</span>-->
  <!--<div class="dropdown-menu stakeholder-dropdown" aria-labelledby="dropdownMenuButton">-->
  <!--<input class="dropdown-filter" type="text" value="Alstom Power Boilers Limited">-->
  <!--<a href="#" class="dropdown-item stakeholder row">-->
  <!--<div class="stakeholder-name-address">-->
  <!--Alstom Power Boilers Limited<br/>-->
  <!--Jubilee Hills<br/>-->
  <!--Hyderabad, Telangana, 500033<br/>-->
  <!--India-->
  <!--</div>-->
  <!--<div class="stakeholder-properties">-->
  <!--<br/>-->
  <!--Customer – Existing<br/>-->
  <!--Primary Address<br/>-->
  <!--INHYD<br/>-->
  <!--</div>-->
  <!--</a>-->
  <!--<a href="#" class="dropdown-item stakeholder row">-->
  <!--<div class="stakeholder-name-address">-->
  <!--Alstom Power Boilers Limited<br/>-->
  <!--Jubilee Hills<br/>-->
  <!--Hyderabad, Telangana, 500033<br/>-->
  <!--India-->
  <!--</div>-->
  <!--<div class="stakeholder-properties">-->
  <!--<br/>-->
  <!--Customer – Existing<br/>-->
  <!--Primary Address<br/>-->
  <!--INHYD<br/>-->
  <!--</div>-->
  <!--</a>-->
  <!--<a href="#" class="dropdown-item stakeholder row">-->
  <!--<div class="stakeholder-name-address">-->
  <!--Alstom Power Boilers Limited<br/>-->
  <!--Jubilee Hills<br/>-->
  <!--Hyderabad, Telangana, 500033<br/>-->
  <!--India-->
  <!--</div>-->
  <!--<div class="stakeholder-properties">-->
  <!--<br/>-->
  <!--Customer – Existing<br/>-->
  <!--Primary Address<br/>-->
  <!--INHYD<br/>-->
  <!--</div>-->
  <!--</a>-->
  <!--<a href="#" class="dropdown-item stakeholder row" name="Alstom Power Boilers Limited">-->
  <!--<div class="stakeholder-name-address">-->
  <!--Alstom Power Boilers Limited<br/>-->
  <!--Jubilee Hills<br/>-->
  <!--Hyderabad, Telangana, 500033<br/>-->
  <!--India-->
  <!--</div>-->
  <!--<div class="stakeholder-properties">-->
  <!--<br/>-->
  <!--Customer – Existing<br/>-->
  <!--Primary Address<br/>-->
  <!--INHYD<br/>-->
  <!--</div>-->
  <!--</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="field">-->
  <!--<div class="label">Export Office</div>-->
  <!--<span class="value">Bangalore</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="destination col-3">-->
  <!--<div class="field">-->
  <!--<div class="label">Consignee</div>-->
  <!--<span class="value">Presspart Manufacturing Ltd</span><br/>-->
  <!--</div>-->
  <!--<div class="field">-->
  <!--<div class="label">Import Office</div>-->
  <!--<span class="value">Thurrock</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="terms col-3">-->
  <!--<div class="field">-->
  <!--<div class="label">Incoterm</div>-->
  <!--{{> Dropdown value="FOB" filter="no" source="incoterm"}}-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash; Job Body &ndash;&gt;-->
  <!--<div class="job row">-->

  <!--&lt;!&ndash; Latest Updates &ndash;&gt;-->
  <!--<div class="latest-updates col-3">-->
  <!--<div class="panel">-->
  <!--<div class="panel-header" style="text-align: center">-->
  <!--Latest Updates-->
  <!--</div>-->
  <!--<div class="panel-body">-->
  <!--<div class="panel-body-inner">-->
  <!--{{> Mention}}-->
  <!--<div class="latest-update-list">-->
  <!--<div class="latest-update-list-item">-->
  <!--Departure Confirmation is overdue.-->
  <!--</div>-->
  <!--<div class="latest-update-list-item">-->
  <!--<div class="list-item-profile-pic">-->
  <!--<a class="user-id" href=""><img class="profile-pic" src="/lib/jburgess%20profile%20pic.png"></a>-->
  <!--</div>-->
  <!--<div class="list-item-content">-->
  <!--<a class="user-id" href="">jburgess</a> left a note :-->
  <!--<div class="quote">-->
  <!--<b>@akulkarni</b> <b>@mkatt</b> Ready for shipping bill filing!-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="latest-update-list-item">-->
  <!--<div class="list-item-profile-pic">-->
  <!--<a class="user-id" href=""><img class="profile-pic" src="/lib/jburgess%20profile%20pic.png"></a>-->
  <!--</div>-->
  <!--<div class="list-item-content">-->
  <!--<a class="user-id" href="">jburgess</a> completed Carrier Booking Confirmation-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="latest-update-list-item">-->
  <!--<div class="list-item-profile-pic">-->
  <!--<a class="user-id" href=""><img class="profile-pic" src="/lib/jburgess%20profile%20pic.png"></a>-->
  <!--</div>-->
  <!--<div class="list-item-content">-->
  <!--<a class="user-id" href="">jburgess</a> completed <i class="fa fa-file" aria-hidden="true"></i>-->
  <!--Carrier Booking Request-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="latest-update-list-item">-->
  <!--<div class="list-item-profile-pic">-->
  <!--<a class="user-id" href=""><img class="profile-pic" src="/lib/jburgess%20profile%20pic.png"></a>-->
  <!--</div>-->
  <!--<div class="list-item-content">-->
  <!--<a class="user-id" href="">jburgess</a> initiated job <a href="#"><b>100231852</b></a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash; Job Right Column &ndash;&gt;-->
  <!--<div class="col-9">-->

  <!--&lt;!&ndash; Cargo Panel&ndash;&gt;-->
  <!--<div class="cargo panel">-->
  <!--<div class="panel-header row">-->
  <!--<div class="panel-title col-3">-->
  <!--Cargo-->
  <!--<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>-->
  <!--<i class="fa fa-snowflake-o" aria-hidden="true"></i>-->
  <!--<img class="do-not-stack-icon" src="/lib/do%20not%20stack.png">-->
  <!--</div>-->
  <!--<div class="cargo-totals col-9 row">-->
  <!--<div class="unit-total col-2">-->
  <!--2 Units-->
  <!--</div>-->
  <!--<div class="package-total col-3">-->
  <!--53 Packages-->
  <!--</div>-->
  <!--<div class="gross-weight-total col-3">-->
  <!--30,000.000 kg-->
  <!--</div>-->
  <!--<div class="volume-total col-3">-->
  <!--60.000 cbm-->
  <!--</div>-->
  <!--{{> CollapseButton target="#cargo-body"}}-->
  <!--</div>-->
  <!--</div>-->
  <!--<div id="cargo-body" class="panel-body collapse">-->
  <!--<div class="panel-body-inner">-->
  <!--<div class="cargo-body-header row">-->
  <!--<div class="cargo-buttons col-3">-->
  <!--<button class="btn focis-button" data-toggle="modal" data-target="#packages-modal">-->
  <!--<i class="fa fa-pencil" aria-hidden="true"></i>-->
  <!--Packages-->
  <!--</button>-->
  <!--<button class="btn focis-button" data-toggle="modal" data-target="#units-modal">-->
  <!--<i class="fa fa-plus-circle" aria-hidden="true"></i>-->
  <!--Units-->
  <!--</button>-->
  <!--</div>-->
  <!--<div class="col-4"></div>-->
  <!--<div class="cargo-inputs col-5 pull-right">-->
  <!--<select class="focis-select">-->
  <!--<option>1:1</option>-->
  <!--<option>1:2</option>-->
  <!--<option>1:3</option>-->
  <!--<option>1:4</option>-->
  <!--<option>1:5</option>-->
  <!--<option>1:6</option>-->
  <!--</select>-->
  <!--<select class="focis-select">-->
  <!--<option>General Cargo</option>-->
  <!--<option>Dangerous Goods</option>-->
  <!--<option>1:3</option>-->
  <!--<option>1:4</option>-->
  <!--<option>1:5</option>-->
  <!--<option>1:6</option>-->
  <!--</select>-->
  <!--<select class="focis-select">-->
  <!--<option>Metric</option>-->
  <!--<option>Imperial</option>-->
  <!--</select>-->
  <!--</div>-->

  <!--</div>-->
  <!--<div class="cargo-content">-->
  <!--<div class="cargo-column-headers row">-->
  <!--<span class="marks-and-numbers col-3">Marks and Numbers</span>-->
  <!--<span class="col-3">Description of Goods</span>-->
  <!--<span class="packages col-1">Packages</span>-->
  <!--<span class="type col-1">Type</span>-->
  <!--<span class="gross-weight col-2">Gross Weight</span>-->
  <!--<span class="volume col-2">Volume</span>-->
  <!--</div>-->
  <!--<div class="cargo-row row">-->
  <!--<span class="marks-and-numbers col-3">-->
  <!--MSCU1234566 Seal: 1234<br/>-->
  <!--Inverted green<br/>-->
  <!--with the letters 'AG'<br/>-->
  <!--printed in the center-->
  <!--</span>-->
  <!--<span class="description-of-goods col-3">nails</span>-->
  <!--<span class="packages col-1">10</span>-->
  <!--<span class="type col-1">Pallets</span>-->
  <!--<span class="gross-weight col-2">500.000 kg</span>-->
  <!--<span class="volume col-2">10.000 cbm</span>-->
  <!--</div>-->
  <!--<div class="cargo-row row">-->
  <!--<span class="marks-and-numbers col-3">-->
  <!--MSCU1234566 Seal: 1234<br/>-->
  <!--Inverted green<br/>-->
  <!--with the letters 'AG'<br/>-->
  <!--printed in the center-->
  <!--</span>-->
  <!--<span class="description-of-goods col-3">nails</span>-->
  <!--<span class="packages col-1">10</span>-->
  <!--<span class="type col-1">Pallets</span>-->
  <!--<span class="gross-weight col-2">500.000 kg</span>-->
  <!--<span class="volume col-2">10.000 cbm</span>-->
  <!--</div>-->
  <!--<div class="cargo-body-totals row">-->
  <!--<span class="col-3"></span>-->
  <!--<span class="col-9">-->
  <!--Shipment Total-->
  <!--</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash; Routing Panel &ndash;&gt;-->
  <!--<div class="routing panel">-->
  <!--<div class="panel-header row">-->
  <!--<div class="panel-title col-3">Routing</div>-->
  <!--<div class="col-8"></div>-->
  <!--{{> CollapseButton target="#routing-body"}}-->
  <!--</div>-->
  <!--<div id="routing-body" class="panel-body collapse">-->
  <!--<div class="panel-body-inner">-->
  <!--&lt;!&ndash; Schedule &ndash;&gt;-->
  <!--<div class="form-group-container row">-->
  <!--<div class="col-12">-->
  <!--<div class="form-group">-->
  <!--<div class="form-group-header">-->
  <!--Route-->
  <!--</div>-->
  <!--<div class="form-group-body">-->
  <!--<div class="form-group-body-inner">-->
  <!--<div class="field">-->
  <!--PLACEHOLDER-->
  <!--</div>-->
  <!--<div class="leg-container">-->
  <!--</div>-->
  <!--</div> &lt;!&ndash; form-group-body-inner &ndash;&gt;-->
  <!--</div> &lt;!&ndash; form-group-body &ndash;&gt;-->
  <!--</div> &lt;!&ndash; form-group &ndash;&gt;-->
  <!--</div> &lt;!&ndash; col-12 &ndash;&gt;-->
  <!--</div> &lt;!&ndash; Schedule &ndash;&gt;-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash; Accounting Panel &ndash;&gt;-->
  <!--<div class="accounting panel">-->
  <!--<div class="panel-header row">-->
  <!--<div class="panel-title col-3">Accounting</div>-->
  <!--<div class="col-8"></div>-->
  <!--{{> CollapseButton target="#accounting-body"}}-->
  <!--</div>-->
  <!--<div id="accounting-body" class="panel-body collapse">-->
  <!--<div class="panel-body-inner">-->
  <!--PLACEHOLDER-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash; Movement Panel &ndash;&gt;-->
  <!--<div class="movement panel">-->
  <!--<div class="panel-header row">-->
  <!--<div class="panel-title col-3">Operations</div>-->
  <!--<div class="col-8"></div>-->
  <!--{{> CollapseButton target="#movement-body"}}-->
  <!--</div>-->
  <!--<div id="movement-body" class="panel-body show">-->
  <!--<div class="panel-body-inner">-->
  <!--<div class="form-group-container row">-->
  <!--<div class="col-4">-->
  <!--<div class="form-group">-->
  <!--<div class="form-group-header">-->
  <!--Booking-->
  <!--</div>-->
  <!--<div class="form-group-body">-->
  <!--<div class="form-group-body-inner">-->
  <!--<div class="form-group-tasks">-->
  <!--<div class="task"><i class="fa fa-check checkmark"></i> Schedules</div>-->
  <!--<div class="task"><i class="fa fa-check checkmark"></i> Request</div>-->
  <!--<div class="task"><i class="fa fa-check checkmark"></i> Carrier Conf</div>-->
  <!--<div class="task"><i class="fa fa-check checkmark"></i> Customer Conf</div>-->
  <!--</div>-->
  <!--<div class="form-group-fields">-->
  <!--<div class="field">-->
  <!--<span class="label">Contract / Spot Rate</span>-->
  <!--<div class="dropdown free-text-dropdown">-->
  <!--<span class="value dropdown-button" data-toggle="dropdown" aria-haspopup="true"-->
  <!--aria-expanded="false">-->
  <!--AGL12345-->
  <!--</span>-->
  <!--<div class="dropdown-menu">-->
  <!--<input class="dropdown-input" type="text" value="AGL12345">-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="field">-->
  <!--<span class="label">Booking Reference</span>-->
  <!--<span class="value">ABC1234</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="col-4">-->
  <!--<div class="form-group">-->
  <!--<div class="form-group-header">-->
  <!--Master Bill of Lading-->
  <!--</div>-->
  <!--<div class="form-group-body">-->
  <!--<div class="form-group-body-inner">-->
  <!--<div class="form-group-tasks">-->
  <!--<div class="task"><i class="fa fa-check checkmark"></i> Instructions</div>-->
  <!--<div class="task"><i class="fa fa-clock-o"></i> Draft Approval</div>-->
  <!--<div class="task"><i class="fa fa-clock-o"></i> Final Receipt</div>-->
  <!--</div>-->
  <!--<div class="form-group-fields">-->
  <!--<div class="field">-->
  <!--<span class="label">MBL Type</span>-->
  <!--<div class="dropdown field-dropdown">-->
  <!--<span class="value dropdown-button" data-toggle="dropdown" aria-haspopup="true"-->
  <!--aria-expanded="false">-->
  <!--Waybill-->
  <!--</span>-->
  <!--<div class="dropdown-menu filterless">-->
  <!--<a href="" class="dropdown-item first" name="Waybill">Waybill</a>-->
  <!--<a href="" class="dropdown-item" name="Original">Original</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="field">-->
  <!--<span class="label">MBL Terms</span>-->
  <!--<div class="dropdown field-dropdown">-->
  <!--<span class="value dropdown-button" data-toggle="dropdown" aria-haspopup="true"-->
  <!--aria-expanded="false">-->
  <!--Prepaid-->
  <!--</span>-->
  <!--<div class="dropdown-menu filterless">-->
  <!--<a href="" class="dropdown-item first" name="Prepaid">Prepaid</a>-->
  <!--<a href="" class="dropdown-item" name="Collect">Collect</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="field">-->
  <!--<span class="label">MBL Number</span>-->
  <!--<span class="value">MAEU12345</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="col-4">-->
  <!--<div class="form-group">-->
  <!--<div class="form-group-header">-->
  <!--Seaquest Line Bill of Lading-->
  <!--</div>-->
  <!--<div class="form-group-body">-->
  <!--<div class="form-group-body-inner">-->
  <!--<div class="form-group-tasks">-->
  <!--<div class="task"><i class="fa fa-check checkmark"></i> Draft</div>-->
  <!--<div class="task"><i class="fa fa-clock-o"></i> Draft Approval</div>-->
  <!--<div class="task"><i class="fa fa-clock-o"></i> Final</div>-->
  <!--<div class="task"><i class="fa fa-clock-o"></i> Surrender</div>-->
  <!--</div>-->
  <!--<div class="form-group-fields">-->
  <!--<div class="field">-->
  <!--<span class="label">Seaquest Type</span>-->
  <!--<div class="dropdown field-dropdown">-->
  <!--<span class="value dropdown-button" data-toggle="dropdown" aria-haspopup="true"-->
  <!--aria-expanded="false">-->
  <!--Original-->
  <!--</span>-->
  <!--<div class="dropdown-menu filterless">-->
  <!--<a href="" class="dropdown-item first" name="Original">Original</a>-->
  <!--<a href="" class="dropdown-item" name="Express">Express</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="field">-->
  <!--<span class="label">Number of Originals</span>-->
  <!--<span class="value">3</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash; Packages Modal &ndash;&gt;-->
  <!--<div class="modal fade" id="packages-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
  <!--aria-hidden="true">-->
  <!--<div class="modal-dialog modal-lg" role="document">-->
  <!--<div class="modal-content">-->
  <!--<div class="modal-header">-->
  <!--<h5 class="modal-title" id="exampleModalLabel">Edit Packages</h5>-->
  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
  <!--<span aria-hidden="true">&times;</span>-->
  <!--</button>-->
  <!--</div>-->
  <!--<div class="modal-body">-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
  <!--<button type="button" class="focis-button" data-dismiss="modal">Close</button>-->
  <!--<button type="button" class="focis-button">Save changes</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash; Units Modal &ndash;&gt;-->
  <!--<div class="modal fade" id="units-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
  <!--aria-hidden="true">-->
  <!--<div class="modal-dialog modal-lg" role="document">-->
  <!--<div class="modal-content">-->
  <!--<div class="modal-header">-->
  <!--<h5 class="modal-title" id="exampleModalLabel">Add Units</h5>-->
  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
  <!--<span aria-hidden="true">&times;</span>-->
  <!--</button>-->
  <!--</div>-->
  <!--<div class="modal-body">-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--...<br/>-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
  <!--<button type="button" class="focis-button" data-dismiss="modal">Close</button>-->
  <!--<button type="button" class="focis-button">Save changes</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

</template>