/*
body {
  background-color: #dfcea0;
}

.row,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
}

.container {
  font-family: Verdana,Helvetica,Arial,sans-serif;
  color: #333;
  width: 100%;
  margin: 0;
  padding: 0;
}

.focis-header {
  background-color: #FFF;
  margin: 0;
  width: 100%;
  height: 33px;
}

.user-details-img {
  position: relative;
  bottom: 33px;
}

.focis-menu {
  width: 100%;
  margin-bottom: 15px;
}

.menu-img {
  float: left;
}

.menu-filler {
  background-color: #faf7ec;
  height: 26px;
  border-top: 1px solid #e1d3b6;
}

.job-header {
}

.job-header,
.job,
.job .col-3,
.job .col-9 {
  margin: 0;
}


.panel {
  border: #990000 1px solid;
  margin-bottom: 15px;
  box-shadow: 0 1px 2px rgba(0,0,0,.23);
}

.panel-header {
  background-color: #f7ebc3;
  padding: 3px;
  margin: 0;
  padding-left: 7px;
  font-weight: bold;
  color: #786010;
}

.panel-title {
  width: 200px;
  font-size: 28px;
  padding: 0;
}

.panel-header-content {
  text-align: center;
  font-size: 14px;
}

.panel-title .fa-exclamation-triangle {
  color: #cf2a27;
}

.panel-title .fa-snowflake-o {
  color: #2b78e4;
}

.panel-title .do-not-stack-icon {
  max-height: 28px;
  max-width: 28px;
  display: inline-block;
  line-height: 28px;
  margin-bottom: 4px;
}

.panel-body {
  background-color: #ffffff;
  font-size: 13px;
}

.panel-body-inner {
  padding: 7px;
}

.job-status {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  padding-left: 30px;
}

.origin,
.destination,
.spacer,
.terms {
  padding: 0;

}

.origin,
.destination,
.spacer {
  padding-left: 15px;
}

.profile-pic {
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 3px;
}

.profile-pic img {
  border-radius: 3px;
  height: 30px;
  width: 30px;
}

.user-id {
  font-weight: bold;
}

a,
a:hover,
a:visited,
a:active,
a:focus,
a:link {
  text-decoration: none;
}

.quote {
  border: 1px solid #999;
  border-radius: 5px;
  margin: 3px 0 3px 0;
  padding: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.23);
  background-color: #F6FAFC;
}

.focis-button {
  background-color: #ba7708;
  color: #FFFFFF;
  border: 0;
  border-radius: 0;
  padding: 4px 10px 5px 5px;
  font-size: 11px;
  font-family: Verdana,Helvetica,Arial,sans-serif;
}

.focis-button i {
  font-size: 13px;
}

.focis-button:hover {
  cursor: pointer;
}

.collapse-button-container {
  font-size: 22px;
  text-align: center;
}

.collapse-button:hover {
  cursor: pointer;
}

.focis-select {
  height: 24px;
  cursor: pointer;
  border: 1px solid rgb(223, 206, 160);
  color: #555;
}
*/
