<template name="Customer">
  <div class="list-title">
    <h1><i class="fa fa-address-card"></i> AIA Engineering Ltd</h1>
    <div class="row">
      <div class="col-6">
        <h4>MTD +13,237 INR</h4>
      </div>
      <div class="col-6">
        <h4>LTM +178,391 INR</h4>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="quotes-list col-12 col-lg-6">
      <div class="list-title">
        <h2>Active Quotes</h2>
        <a href="/new-quote&c=1">
          <button class="btn btn-primary new-quote-button">New Quote</button>
        </a>
      </div>
      <a class="list-item" href="/quote/1">
        <div class="list-item-inner">
          <div class="icon-container hidden-md-down">
            <div class="icon fa fa-fw fa-plane"></div>
          </div>
          <div class="list-item-content container">
            <div class="row">
              <div class="col-6">
                <b>Q572038</b><br/>
                Accepted<br/>
                22-May-2017
              </div>
              <div class="col-6">
                Single Route<br/>
                Rated<br/>
                FOB
              </div>
            </div>
          </div>
        </div>
      </a>
      <a class="list-item" href="/quote/1">
        <div class="list-item-inner">
          <div class="icon-container hidden-md-down">
            <div class="icon fa fa-fw fa-ship"></div>
          </div>
          <div class="list-item-content container">
            <div class="row">
              <div class="col-6">
                <b>Q571559</b><br/>
                Won +3,291 INR<br/>
                12-May-2017
              </div>
              <div class="col-6">
                Route Matrix<br/>
                Rated<br/>
                CIF
              </div>
            </div>
          </div>
        </div>
      </a>
      <div class="list-title">
        <h4>Show Inactive Quotes</h4>
      </div>
    </div>
    <div class="jobs-list col-12 col-lg-6">
      <div class="list-title">
        <h2>Active Jobs</h2>
        <button class="btn btn-primary new-quote-button">New Job</button>
      </div>
      <a class="list-item" href="/job/1">
        <div class="list-item-inner">
          <div class="icon-container hidden-md-down">
            <div class="icon fa fa-fw fa-ship"></div>
          </div>
          <div class="list-item-content container">
            <div class="row">
              <div class="col-6">
                <b>J201938</b><br/>
                Departed<br/>
                Door to CY
              </div>
              <div class="col-6">
                4 TEU<br/>
                <i class="fa fa-link"></i>Q571559<br/>
                +3,291 INR
              </div>
            </div>
          </div>
        </div>
      </a>
      <div class="list-title">
        <h4>Show Inactive Jobs</h4>
      </div>
    </div>
  </div>


</template>