<template name="customer">
  <div class="panel">
    <div class="panel-header">
      <div class="panel-header-inner">
        <div class="icon-container hidden-md-down">
          <i class="icon fa fa-fw fa-address-card"></i>
        </div>
        <div class="panel-header-content container">
          <div class="row">
            <div class="panel-title col-12 col-lg-6 align-left">
              {{customer.name}}
            </div>
            <div class="col-6 col-lg-3 align-right">
              {{customer.activeQuotes.length}} ACTIVE QUOTES<br/>
              {{customer.activeJobs.length}} ACTIVE JOB
            </div>
            <div class="col-6 col-lg-3 align-right">
              MTD +13,237 INR<br/>
              LTM +178,391 INR
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="panel-body">
      <div class="panel-body-inner">
        <div class="row">
          <div class="col-12 col-lg-6">
            <span class="customer-industry">Pharmaceuticals</span><br/>
            <span class="customer-credit">{{customer.credit.used}} / {{customer.credit.total}} {{customer.credit.currency}} credit</span><br/>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{creditPercent}}; height: 20px;" aria-valuenow="25"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-12 col-lg-6">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="quotes-list col-12 col-lg-6">
      <div class="list-title">
        <h2>Quotes</h2>
        <a href="/new-quote&c=1">
          <button class="focis-button new-quote-button">New Quote</button>
        </a>
      </div>
      <a class="card" href="/quote/1">
        <div class="card-inner">
          <div class="icon-container hidden-md-down">
            <div class="icon fa fa-fw fa-plane"></div>
          </div>
          <div class="card-content container">
            <div class="row">
              <div class="col-6">
                <b>Q572038</b><br/>
                Accepted<br/>
                22-May-2017
              </div>
              <div class="col-6">
                Single Route<br/>
                Rated<br/>
                FOB
              </div>
            </div>
          </div>
        </div>
      </a>
      <a class="card" href="/quote/1">
        <div class="card-inner">
          <div class="icon-container hidden-md-down">
            <div class="icon fa fa-fw fa-ship"></div>
          </div>
          <div class="card-content container">
            <div class="row">
              <div class="col-6">
                <b>Q571559</b><br/>
                Won +3,291 INR<br/>
                12-May-2017
              </div>
              <div class="col-6">
                Route Matrix<br/>
                Rated<br/>
                CIF
              </div>
            </div>
          </div>
        </div>
      </a>
      <div class="list-title">
        <div class="btn focis-button">Show Inactive Quotes</div>
      </div>
    </div>
    <div class="jobs-list col-12 col-lg-6">
      <div class="list-title">
        <h2>Jobs</h2>
        <button class="focis-button new-job-button">New Job</button>
      </div>
      <a class="card" href="/job/1">
        <div class="card-inner">
          <div class="icon-container hidden-md-down">
            <div class="icon fa fa-fw fa-ship"></div>
          </div>
          <div class="card-content container">
            <div class="row">
              <div class="col-6">
                <b>J201938</b><br/>
                Received<br/>
                Door to CY
              </div>
              <div class="col-6">
                4 TEU<br/>
                <i class="fa fa-link"></i>Q571559<br/>
                +3,291 INR
              </div>
            </div>
          </div>
        </div>
      </a>
      <div class="list-title">
        <button class="btn focis-button">Show Inactive Jobs</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="invoices-list col-12 col-lg-6">
      <div class="list-title">
        <h2>Invoices</h2>
        <button class="focis-button new-job-button">New Invoice</button>
      </div>
    </div>
    <div class="cargo-receipt-list col-12 col-lg-6">
      <div class="list-title">
        <h2>Cargo Receipts</h2>
        <button class="focis-button new-job-button">New Cargo Receipt</button>
      </div>
      <a class="card" href="/job/1">
        <div class="card-inner">
          <div class="icon-container hidden-md-down">
            <div class="icon fa fa-fw fa-flag"></div>
          </div>
          <div class="card-content container">
            <div class="row">
              <div class="col-6">
                <b>R198571</b><br/>
                Jebel Ali 60k<br/>
                13-Mar-2017
              </div>
              <div class="col-6">
                25 Boxes<br/>
                450.0 kg<br/>
                5.230 cbm
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>


</template>