<template name="Customers">
  <div class="panel">
    <div class="panel-header row">
      <div class="panel-title col-2">
        Customers
      </div>
      <div class="panel-header-content col-10">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Mine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Top</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{>CustomerListItem}}

</template>