<template name="Customers">
  <div class="customer-list">
    <div class="panel">
      <div class="panel-header">
        <div class="panel-header-inner">
          <div class="icon-container hidden-md-down">
            <i class="icon fa fa-fw fa-address-card"></i>
          </div>
          <div class="panel-header-content container">
            <div class="row">
              <div class="panel-title col-2">
                Customers
              </div>
              <div class="col-5">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Mine</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">New</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Top</a>
                  </li>
                </ul>
              </div>
              <div class="col-5">
                <form class="form-inline">
                  <input class="focis-input mr-sm-2" type="text" placeholder="Filter">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>CustomerListItem}}
  </div>
</template>
