<template name="NewQuote">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Agility Freight</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Customers <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rates</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container-fluid new-quote">
    <h2>AIA Engineering Ltd</h2>
    <h3>New Quote</h3>
    <div class="row">
      <div class="col-4">
        {{> ProductButton product="air"}}
      </div>
      <div class="col-4">
        {{> ProductButton product="ocean"}}
      </div>
      <div class="col-4">
        {{> ProductButton product="road"}}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        {{> Input type="location"}}
      </div>
      <div class="col-6">
        {{> Input type="location"}}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        {{> Input type="carrier"}}
      </div>
    </div>
  </div>
</template>