// Theme Colors
$primary-color: #E8EEED;
$secondary-color: #363436;
$tertiary-color: orange;
$quaternary-color: rgb(239, 130, 1);

// Content Colors
$content-header-text-color: #333333;
$content-tab-text-color: #333333;
$content-field-label-text-color: #333333;
$content-background-color: #E3EAA7;
$content-text-color: #ADA397;
$inactive-tab-background-color: #ddd;

// Sidebar Colors
$sidebar-link-text-color: #ADA397;

// Input Colors
$input-text-color: #333;
$input-border-color: rgb(203, 203, 203);
$editable-input-background-color: white;
$disabled-input-background-color: #eee;
$input-addon-background-color: #ccc;

// Button Colors
$submit-button-background-color: #86AF49;

// Icon Colors
$add-icon-color: #4a90e2;
$remove-icon-color: #d0021b;

// Utility Colors
$shading-color: #D6CBD3;
$shading-canvas-color: #D6CBD3;

// Alpha Values
$very-low-alpha: .05;
$low-alpha: .15;
$mid-alpha: .3;
$high-alpha: .5;
$very-high-alpha: .75;
