// Theme Colors
$primary-color: #111415;
$secondary-color: #ffffff;
$tertiary-color: orange;
$quaternary-color: rgb(239, 130, 1);

// Content Colors
$content-background-color: #eee;
$content-text-color: #555;
$inactive-tab-background-color: #ddd;

// Sidebar Colors
$sidebar-link-text-color: #ddd;

// Input Colors
$input-text-color: #333;
$input-border-color: rgb(203, 203, 203);
$editable-input-background-color: white;
$disabled-input-background-color: #eee;
$input-addon-background-color: #ccc;

// Button Colors
$submit-button-background-color: #4caf50;

// Icon Colors
$add-icon-color: #4a90e2;
$remove-icon-color: #d0021b;

// Utility Colors
$shading-color: black;
$shading-canvas-color: white;

// Alpha Values
$very-low-alpha: .05;
$low-alpha: .15;
$mid-alpha: .3;
$high-alpha: .5;
$very-high-alpha: .75;
