// DAVID HOCKNEY THEME
$app-background-color: #f9fbfa;
$content-background-color: #EAE0CC;
$panel-background-color: #ccd4d2;

$home-accent-color: #ff9900;
$customers-accent-color: #597eaa;
$customers-selected-item-background-color: #9fc5f8;

$text-color: #666666;
$inverted-text-color: #f9fbfa;

$submit-button-background-color: #6aa84f;
$save-button-background-color: #6fa8dc;
$delete-button-background-color: #cc0000;

$heart-icon-color: #ea9999;
$plus-icon-color: #6aa84f;
$minus-icon-color: #cc0000;

// Theme Colors
$primary-color: white;
$secondary-color: #363436;
$tertiary-color: orange;
$quaternary-color: #ADA397;

// Content Colors
$content-header-text-color: #363436;
$content-tab-text-color: #363436;
$content-field-label-text-color: #363436;
$content-background-color: rgb(208, 205, 205);
$content-text-color: #363436;
$inactive-tab-background-color: #ddd;

// Sidebar Colors
$sidebar-link-text-color: #ADA397;

// Input Colors
$input-text-color: #333;
$input-border-color: rgb(203, 203, 203);
$editable-input-background-color: white;
$disabled-input-background-color: #eee;
$input-addon-background-color: #ccc;

// Button Colors
$submit-button-background-color: #86AF49;

// Icon Colors
$add-icon-color: #4a90e2;
$remove-icon-color: #d0021b;

// Utility Colors
$shading-color: #D6CBD3;
$shading-canvas-color: #D6CBD3;

// Alpha Values
$very-low-alpha: .05;
$low-alpha: .15;
$mid-alpha: .3;
$high-alpha: .5;
$very-high-alpha: .75;
