// Fonts
//$application-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$application-font-family: "Tw Cen MT", Arial, sans-serif;

$brand-font-size: 26px;
$extra-large-font-size: 22px;
$large-font-size: 16px;
$medium-font-size: 12px;

// Content Sizes
$sidebar-font-size: 16px;
$content-header-font-size: 32px;
$content-navbar-button-font-size: 16px;
$content-navbar-button-badge-font-size: 14px;
$content-tab-font-size: 22px;
$content-group-font-size: 22px;
$kpi-value-font-size: 42px;
$table-title-font-size: 22px;
$table-font-size: 12px;
$cargo-totals-font-size: 12px;
$total-shipment-label-font-size: 14px;
$package-row-totals-font-size: 13px;
$edit-group-totals-font-size: 12px;

// Input Sizes
$input-font-size: 16px;
$field-label-font-size: 14px;
$select-option-badge-font-size: 12px;
$alert-button-font-size: 18px;
$submit-button-font-size: 18px;

// Icon Sizes
$small-icon-font-size: 18px;
