// APP
$app-width: 940px;

// NAV
$nav-width: $app-width;
$nav-brand-margin: 0 7px 0 0;
$nav-button-width: 80px;
$nav-button-height: 95px;
$nav-button-label-top: 30px;
$nav-button-margin-right: 4px;
$nav-margin: 0 auto 10px auto;
$nav-padding: 0;

// CONTENT
$content-width: $app-width;
$content-margin: 0 auto 7px auto;
$content-padding: 7px;
$content-header-margin: 0 0 7px 0;

// PANEL
$panel-margin: 0 0 7px 0;
$panel-padding: 7px;

// INPUTS
$email-header-input-width: 325px;
$email-message-textarea-width: 567px;