html {
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
}

#app {
  height: 100%;
}

.app-inner {
  height: 100%;
}

.navbar {
  background-color: #323536;
  color: white;

  .navbar-brand {
    color: orange;
    font-weight: 500;
  }

  .navbar-brand:hover,
  .nav-link {
    color: white;
  }

  .form-inline {
    margin-left: 15px;
  }

  .profile-button,
  .alert-button {
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    transition: all .2s ease-in-out;
    border-radius: 3px;
    border: 0;
  }

  .profile-button {
    padding: 0 5px 0 0;
    .profile-pic {
      height: 30px;
      width: 30px;
      display: inline-block;
      border-radius: 5px;
      margin-right: 5px;
    }
    .user-name {
      margin-top: 5px;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .profile-button:hover,
  .alert-button:hover {
    background-color: rgba(239, 130, 1, 0.3);
  }

  .alert-button-container {
    padding-top: 5px;
    .alert-button {
      padding: 0;
      margin-left: 15px;
      font-size: 18px;
      width: 30px;
      height: 30px;
    }
  }
}

.profile-button:hover {
  cursor: pointer;
}

body {
  background-color: #111415;
}