@import 'styleGlobals';

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
  background-color: $app-background-color;
  color: $text-color;
  font-family: "Tw Cen MT", Arial, sans-serif;
}

.app {
  height: 100%;
}

.app-inner {
  height: 100%;
}

.profile-button:hover {
  cursor: pointer;
}