@import 'styleGlobals';

.field {

  .checkbox {
    outline: none;
    height: 20px;
    width: 20px;
    background-color: $editable-input-background-color;
    border: 1px solid $customers-accent-color;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    .fa {
      color: $text-color;
      position: relative;
      bottom: 2px;
      left: -1px;
    }
  }

  .checkbox:hover {
    background-color: rgba($customers-accent-color, $mid-alpha);
  }

  .checkbox:focus {
    box-shadow: 0 0 3pt 2pt rgba($customers-accent-color, $high-alpha);
    outline: none;
  }

  .checkbox:disabled {
    background-color: $disabled-input-background-color;
    cursor: default;
  }

  .checkbox-label {
    position: relative;
    font-size: $large-font-size;
    display: inline-block;
    left: 5px;
    bottom: 3px;
    color: $text-color;
  }

}
