.content {
  background-color: white;
  padding-top: 7px;
  .kpi {
    text-align: center;

    .kpi-label {
      font-weight: 100;
    }

    .kpi-value {
      font-size: 42px;
      font-weight: bold;
    }
  }

  .chart {
    padding-top: 7px;
    .chart-label {
      font-weight: 100;
      text-align: center;
    }
    canvas {
      width: 100%;
    }
  }
}