.content {
  background-color: white;

  .kpi {
    text-align: center;

    .kpi-label {

    }

    .kpi-value {
      font-size: 42px;
      font-weight: bold;
    }
  }

  .chart {
    .chart-label {
      text-align: center;
    }
    canvas {
      width: 100%;
    }
  }
}