@import 'styleGlobals';

.content-footer-accent {
  width: $content-width;
  margin: 0 auto;
  height: 12px;
}

.home-footer-accent {
  background-color: $home-accent-color;
}

.customers-footer-accent {
  background-color: $customers-accent-color;
}

.suppliers-footer-accent {
  background-color: $suppliers-accent-color;
}

.rate-footer-accent {
  background-color: $rates-accent-color;
}

.admin-footer-accent {
  background-color: $home-accent-color;
}