@import 'styleGlobals';

.form-button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;

  button {
    margin-left: 10px;
    font-weight: bold;
  }
}