@import 'styleGlobals';

.cargo-row-icon {
  border: 0;
  outline-color: rgba($quaternary-color, $mid-alpha);
  padding: 0;
  background-color: transparent;
  display: inline-block;
  position: relative;
  top: 2px;
  width: 25px;
  cursor: pointer;
  font-size: $extra-large-font-size;
  .fa-plus-square {
    color: $add-icon-color;
  }
  .fa-minus-square {
    color: $remove-icon-color;
  }
}

.cargo-row-icon:disabled {
  cursor: default;
  i {
    color: #333;
  }
}

.cargo-row-icon.active {
  box-shadow: 0 0 3pt 2pt rgba($quaternary-color, $mid-alpha);
  outline: none;
}

.fa.transparent {
  color: transparent;
}

.cargo-row-icon:focus {
  box-shadow: 0 0 3pt 2pt $customers-accent-color;
}