@import 'styleGlobals';

input {
  padding: 5px 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  border: 1px solid $input-border-color;
  border-radius: 5px;
  color: $input-text-color;
  font-weight: 400;
  outline: none;
}

input:focus {
  box-shadow: 0 0 3pt 2pt rgba($quaternary-color, $high-alpha);
  border: 1px solid rgba($quaternary-color, $mid-alpha);
  z-index: 1000;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: $disabled-input-background-color;
}
