.monetary-field-group {
  display: flex;
  flex-direction: row;
}

.monetary-field-group .numeric-field {
  margin-right: 0;
  border-right: 0;
  width: 80px;
  text-align: right;
}

.monetary-field-group .currency-field {
  max-width: 50px;
  .Select-control {
    background-color: #ccc;
    width: 56px !important;
  }
  input {
    width: 29px !important;
    max-width: 29px;
    margin: 0;
  }
}