@import 'styleGlobals';

.navbar {
  width: $nav-width;
  background-color: $app-background-color;
  color: $text-color;
  padding: $nav-padding;
  margin: $nav-margin;

  .navbar-brand {
    margin: $nav-brand-margin;
  }

  .brand {
    font-size: $brand-font-size;
    color: $text-color;
    letter-spacing: 6px;
    position: relative;
    top: 60px;
  }

  .brand:hover {
    color: $text-color !important;
  }

  .brand-highlight {
    color: $home-accent-color;
  }

  .button {
    height: $nav-button-height;
    width: $nav-button-width;
    margin-right: $nav-button-margin-right;
    background-color: $panel-background-color;

    .label {
      position: relative;
      text-align: center;
      color: $text-color;
      top: $nav-button-label-top;
      font-size: $medium-font-size;
    }
  }

  button:hover .label {
    color: $inverted-text-color;
  }

  .customers-button:hover {
    background-color: $customers-accent-color;
  }

  a.active {
    .customers-button {
      background-color: $customers-accent-color;
    }
    .label {
      color: $inverted-text-color;
    }
  }

  .rates-button:hover {
    background-color: $rates-accent-color;
  }

  .profile-button:hover {
    background-color: $profile-accent-color;
  }

  .form-inline {
    display: inline-block;
    vertical-align: top;
  }

  .search {
    font-size: $large-font-size;
    border: none;
    height: 28px;
    background-color: transparent;
    position: relative;
    top: auto;
  }

  .search::placeholder {
    color: $text-color;
  }

  .search:focus {
    outline: none;
    box-shadow: none;
  }

  .sign-in-button {
    height: 30px;
    width: auto;
    padding: 0 10px;
    font-size: $medium-font-size;
    background-color: $panel-background-color;
    color: $text-color;
  }

  .sign-in-button:hover {
    background-color: $home-accent-color;
  }

  .alerts {
  }
}