@import 'styleGlobals';

.panel {
  background-color: $panel-background-color;
  margin: $panel-margin;
  padding: $panel-padding;
  display: flex;
  justify-content: space-between;
  .title {
    font-size: $extra-large-font-size;
  }
  .icon-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
    .fa {
      color: $panel-background-color;
    }
  }
  .favorite-icon {
    color: $panel-background-color;
  }
}

.customer .header-panel {
  background-color: $customers-accent-color;
  color: $inverted-text-color;
  .icon-column {
    .fa {
      color: $inverted-text-color;
    }
  }
  .favorite-icon {
    color: $inverted-text-color;
  }
}

.customer-list .panel:hover,
.customer .panel:hover {
  background-color: $customers-accent-color;
  color: $inverted-text-color;
  .icon-column .fa {
    color: $inverted-text-color;
  }
  .icon-column,
  .favorite-icon {
    color: $inverted-text-color;
    .fa:hover {
      color: $customers-selected-item-background-color;
    }
  }
  .favorite-icon:hover {
    color: pink;
  }
}

.list-item {
  .list-item-header {
    font-weight: bold;
  }
}