@import 'styleGlobals';

.quote {
  width: 100%;
  display: flex;
  flex-direction: column;
  .header {
    font-size: $giant-font-size;
  }
  .status {

  }
  .cargo-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .cargo-totals {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .cargo-totals-values {
    width: 30%;
  }
}

.quote-read-only {
  width: 100%;
  display: flex;
  flex-direction: column;
  .header {
    font-size: $giant-font-size;
  }
}