@import 'styleGlobals';

.quote {
  width: 100%;
  display: flex;
  flex-direction: column;
  .header {
    font-size: $giant-font-size;
  }
  .status {

  }
  .section {
    margin-bottom: 8px;
  }
  .cargo-row,
  .charge-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .cargo-totals {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .cargo-totals-values {
    width: 30%;
  }
  .routing-and-other-services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .routing,
  .other-services {
    width: 50%;
  }
  .routing,
  .other-services,
  .charges {
    display: flex;
    flex-direction: column;
  }
  .subtotal-row,
  .total-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .value {
      text-align: right;
      width: 30%;
    }
  }
}

.quote-read-only {
  width: 100%;
  display: flex;
  flex-direction: column;
  .header {
    font-size: $giant-font-size;
  }
}

.quote-container.update .panel {
  background-color: rgba($customers-accent-color, $very-high-alpha);
  transition: none;
}
