.sidebar {
  background-color: #111415;
  background-image: linear-gradient(to bottom, #323536, #111415 100%);
  color: white;
  font-size: 11pt;

  .sidebar-section-header {
    text-align: center;
    font-weight: bold;
  }

  a {
    display: block;
    color: #dddddd;
  }

  a.active {
    color: orange;
    font-weight: bold;
  }

  .sidebar-section-spacer {
    height: 10px;
  }

}
