@import 'styleGlobals';

textarea {
  padding: 5px 5px;
  font-family: $application-font-family;
  border: 1px solid $customers-accent-color;
  border-radius: 0;
  color: $text-color;
  font-weight: 400;
  outline: none;
  height: 36px;
  resize: none;
  overflow: hidden;
}

textarea:focus {
  box-shadow: 0 0 3pt 2pt rgba($customers-accent-color, $high-alpha);
  border: 1px solid $customers-accent-color;
  z-index: 1000;
}